<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SRCAcquireMS</key>
	<integer>2000</integer>
	<key>SRCBehaviorWindowVisible</key>
	<true/>
	<key>SRCBehaviorWindowZoom</key>
	<integer>100</integer>
	<key>SRCBlockLimit</key>
	<integer>100</integer>
	<key>SRCBreakPunishMS</key>
	<integer>0</integer>
	<key>SRCContrastFactor</key>
	<real>0.5</real>
	<key>SRCContrast</key>
	<integer>100</integer>
	<key>SRCContrasts</key>
	<integer>8</integer>
	<key>SRCCueMS</key>
	<integer>250</integer>
	<key>SRCDoSounds</key>
	<true/>
	<key>SRCDistractorContrastRatio</key>
	<real>1.0</real>
	<key>SRCEccentricityDeg</key>
	<real>3</real>
	<key>SRCEyeXYDoGrid</key>
	<true/>
	<key>SRCEyeXYDoTicks</key>
	<integer>1</integer>
	<key>SRCEyeXYSamplesSaved</key>
	<integer>200</integer>
	<key>SRCEyeXYDotSizeDeg</key>
	<real>0.02</real>
	<key>SRCEyeXYDrawCal</key>
	<true/>
	<key>SRCEyeXYGridDeg</key>
	<real>5</real>
	<key>SRCEyeXYHScroll</key>
	<integer>3500</integer>
	<key>SRCEyeXYMag</key>
	<real>30</real>
	<key>SRCEyeXYOneInN</key>
	<integer>1</integer>
	<key>SRCEyeXYTickDeg</key>
	<real>1</real>
	<key>SRCEyeXYVScroll</key>
	<integer>3500</integer>
	<key>SRCEyeXYWindowVisible</key>
	<true/>
	<key>SRCEyeXYFadeDots</key>
	<true/>
	<key>SRCFixGraceMS</key>
	<integer>0</integer>
	<key>SRCFixWindowWidthDeg</key>
	<real>1</real>
	<key>SRCFixate</key>
	<true/>
	<key>SRCIntertrialMS</key>
	<integer>1500</integer>
	<key>SRCInterstimJitterPC</key>
	<integer>50</integer>
	<key>SRCInterstimMS</key>
	<integer>250</integer>
	<key>SRCKdlPhiDeg</key>
	<real>180</real>
	<key>SRCKdlThetaDeg</key>
	<real>90</real>
	<key>SRCMaxContrast</key>
	<integer>100</integer>
	<key>SRCMaxTargetMS</key>
	<integer>5000</integer>
	<key>SRCMaxTemporalFreqHz</key>
	<real>4.0</real>
	<key>SRCMeanTargetMS</key>
	<integer>2500</integer>
	<key>SRCNumInstructTrials</key>
	<integer>2</integer>
	<key>SRCDirectionDeg</key>
	<real>0.0</real>
	<key>SRCPrecueMS</key>
	<integer>250</integer>
	<key>SRCPrecueJitterPC</key>
	<integer>50</integer>
	<key>SRCPolarAngleDeg</key>
	<real>180</real>
	<key>SRCReactMS</key>
	<integer>750</integer>
	<key>SRCRelDistractorProb</key>
	<real>1.0</real>
	<key>SRCRespTimeMS</key>
	<integer>500</integer>
	<key>SRCRespSpotSizeDeg</key>
	<real>0.25</real>
	<key>SRCRespWindowWidthDeg</key>
	<real>2</real>
	<key>SRCRewardMS</key>
	<integer>100</integer>
	<key>SRCVarRewardOn</key>
	<true/>
	<key>SRCVarRewardMinMS</key>
	<integer>20</integer>
	<key>SRCVarRewardMaxMS</key>
	<integer>200</integer>
	<key>SRCVarRewardTC</key>
	<integer>3000</integer>
	<key>SRCVarRewardMean</key>
	<integer>100</integer>
	<key>SRCGaborRadiusDeg</key>
	<real>1</real>
	<key>SRCSaccadeTimeMS</key>
	<integer>200</integer>
	<key>SRCSeparationDeg</key>
	<real>2.5</real>
	<key>SRCGaborSigmaDeg</key>
	<real>0.25</real>
	<key>SRCGaborSpatialFreqCPD</key>
	<real>4</real>
	<key>SRCSpatialModulationType</key>
	<integer>1</integer>
	<key>SRCSpatialPhaseDeg</key>
	<real>90</real>
	<key>SRCSpikeWindowVisible</key>
	<true/>
	<key>SRCSpikeWindowZoom</key>
	<integer>100</integer>
	<key>SRCStimDurationMS</key>
	<integer>250</integer>
	<key>SRCStimJitterPC</key>
	<integer>0</integer>
	<key>SRCStimLeadMS</key>
	<integer>500</integer>
	<key>SRCStimulusOrientationDeg</key>
	<real>10.0</real>
	<key>SRCSummaryWindowBrokeCount</key>
	<integer>0</integer>
	<key>SRCSummaryWindowComputerCount</key>
	<integer>0</integer>
	<key>SRCSummaryWindowCorrectCount</key>
	<integer>0</integer>
	<key>SRCSummaryWindowDateCount</key>
	<integer>0</integer>
	<key>SRCSummaryWindowFailedCount</key>
	<integer>0</integer>
	<key>SRCSummaryWindowIgnoredCount</key>
	<integer>0</integer>
	<key>SRCSummaryWindowTotalCount</key>
	<integer>0</integer>
	<key>SRCSummaryWindowVisible</key>
	<true/>
	<key>SRCSummaryWindowWrongCount</key>
	<integer>0</integer>
	<key>SRCSummaryWindowZoom</key>
	<integer>100</integer>
	<key>SRCTargetOrientationDeg</key>
	<real>45.0</real>
	<key>SRCTaskStatus</key>
	<integer>0</integer>
	<key>SRCTemporalFreqHz</key>
	<real>0.0</real>
	<key>SRCTemporalFreqs</key>
	<integer>4</integer>
	<key>SRCTemporalModulationParam</key>
	<integer>1</integer>
	<key>SRCTemporalModulationType</key>
	<integer>2</integer>
	<key>SRCTemporalPhaseDeg</key>
	<real>0</real>
	<key>SRCTooFastMS</key>
	<integer>100</integer>
	<key>SRCTrialWindowVisible</key>
	<true/>
	<key>SRCTrialWindowZoom</key>
	<integer>100</integer>
	<key>SRCStimRepsPerBlock</key>
	<integer>16</integer>
	<key>SRCTries</key>
	<integer>1</integer>
	<key>SRCPreferredLoc</key>
	<integer>0</integer>
	<key>SRCExpType</key>
	<integer>0</integer>
	<key>SRCContMultiplier</key>
	<integer>100</integer>
	<key>SRCUseSmallestContrastTarget</key>
	<true/>
</dict>
</plist>
